.redBorder {
  background-color: #131921;
  color: white;
}

.blueBorder {
  border: 3px solid;
  border-color: blue;
  color: black;
}

/* .yellowBorder {
  border: 3px solid;
  border-color: yellow;
  color: black;
} */

.greenBorder {
  border: 3px solid;
  border-color: green;
  color: black;
}

.pinkBorder {
  border: 3px solid;
  border-color: pink;
  color: black;
}

.grayBorder {
  border: 3px solid;
  border-color: gray;
  color: black;
}

/* .basic-addon2 {
  background-color: #febd68;
} */

#navbar > .col {
  padding-left: 0;
  padding-right: 0;
}

#navbar #logo {
  height: auto;
  width: 120px;
  padding: 15px;
}
