.navbar {
  background-color: #131921;
  color: white;
}

.blueBorder {
  border: 3px solid;
  border-color: blue;
  color: black;
}

/* .yellowBorder {
  border: 3px solid;
  border-color: yellow;
  color: black;
} */

.redBorder {
  border: 3px solid;
  border-color: red;
  color: black;
}

.greenBorder {
  border: 3px solid;
  border-color: green;
  color: black;
}

.pinkBorder {
  border: 3px solid;
  border-color: pink;
  color: black;
}

.grayBorder {
  border: 3px solid;
  border-color: gray;
  color: black;
}

/* .basic-addon2 {
  background-color: #febd68;
} */

#navbar > .col {
  padding-left: 0;
  padding-right: 0;
}

#navbar #logo {
  height: auto;
  width: 120px;
  padding: 15px;
}

#navbar #map {
  text-align: left;
}

#navbar #searchinput {
  text-align: end;
}

#navbar #flagicon {
  text-align: center;
  padding: 0;
}
#navbar #accounts {
  text-align: center;
}

#navbar #orders {
  text-align: center;
}

#navbar #cart {
  text-align: center;
}

.suggestedHeaders {
  font-weight: 700;
  font-size: 21px;
}

#shopping > .col-4 {
  border: 3px solid green;
}

#heroCol {
  padding: 0;
}

.ellip {
  max-height: 18px;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
  white-space: nowrap;
}

#logo2 {
  width: 150px;
  align-items: center;
}

.bookImage {
  height: 220px;
}

.buyAgain {
  height: 130px;
  align-items: center;
}

#footer {
  background-color: #222f3e;
  padding: 40px;
  align-items: center;
}

#footerMenu {
  background-color: #222f3e;
  color: white;
}

#backToTop {
  background-color: #222f3e;
  color: white;
  text-align: center;
  padding: 20px;
}
